# Proyecto Integrador NBA

In [2]:
# Importo librerias

import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("common_player_info.csv", sep=',')

print(data.columns)

Index(['person_id', 'first_name', 'last_name', 'display_first_last',
       'display_last_comma_first', 'display_fi_last', 'player_slug',
       'birthdate', 'school', 'country', 'last_affiliation', 'height',
       'weight', 'season_exp', 'jersey', 'position', 'rosterstatus',
       'games_played_current_season_flag', 'team_id', 'team_name',
       'team_abbreviation', 'team_code', 'team_city', 'playercode',
       'from_year', 'to_year', 'dleague_flag', 'nba_flag', 'games_played_flag',
       'draft_year', 'draft_round', 'draft_number', 'greatest_75_flag'],
      dtype='object')

In [4]:
data

,person_id,first_name,last_name,display_first_last,display_last_comma_first,display_fi_last,player_slug,birthdate,school,country,...,playercode,from_year,to_year,dleague_flag,nba_flag,games_played_flag,draft_year,draft_round,draft_number,greatest_75_flag
0,76001,Alaa,Abdelnaby,Alaa Abdelnaby,"Abdelnaby, Alaa",A. Abdelnaby,alaa-abdelnaby,1968-06-24 00:00:00,Duke,USA,...,HISTADD_alaa_abdelnaby,1990.0,1994.0,N,Y,Y,1990,1,25,N
1,76003,Kareem,Abdul-Jabbar,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",K. Abdul-Jabbar,kareem-abdul-jabbar,1947-04-16 00:00:00,UCLA,USA,...,HISTADD_kareem_abdul-jabbar,1969.0,1988.0,N,Y,Y,1969,1,1,Y
2,1505,Tariq,Abdul-Wahad,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",T. Abdul-Wahad,tariq-abdul-wahad,1974-11-03 00:00:00,San Jose State,France,...,tariq_abdul-wahad,1997.0,2003.0,N,Y,Y,1997,1,11,N
3,949,Shareef,Abdur-Rahim,Shareef Abdur-Rahim,"Abdur-Rahim, Shareef",S. Abdur-Rahim,shareef-abdur-rahim,1976-12-11 00:00:00,California,USA,...,shareef_abdur-rahim,1996.0,2007.0,N,Y,Y,1996,1,3,N
4,76005,Tom,Abernethy,Tom Abernethy,"Abernethy, Tom",T. Abernethy,tom-abernethy,1954-05-06 00:00:00,Indiana,USA,...,HISTADD_tom_abernethy,1976.0,1980.0,N,Y,Y,1976,3,43,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4166,1627835,Paul,Zipser,Paul Zipser,"Zipser, Paul",P. Zipser,paul-zipser,1994-02-18 00:00:00,Bayern Munich,Germany,...,paul_zipser,2016.0,2017.0,Y,Y,Y,2016,2,48,N
4167,1627790,Ante,Zizic,Ante Zizic,"Zizic, Ante",A. Zizic,ante-zizic,1997-01-04 00:00:00,Darussafaka,Croatia,...,ante_zizic,2017.0,2019.0,Y,Y,Y,2016,1,23,N
4168,78647,Jim,Zoet,Jim Zoet,"Zoet, Jim",J. Zoet,jim-zoet,1953-12-30 00:00:00,Kent State,USA,...,HISTADD_jim_zoet,1982.0,1982.0,N,Y,Y,Undrafted,Undrafted,Undrafted,N
4169,1627826,Ivica,Zubac,Ivica Zubac,"Zubac, Ivica",I. Zubac,ivica-zubac,1997-03-18 00:00:00,Mega Basket,Croatia,...,ivica_zubac,2016.0,2023.0,Y,Y,Y,2016,2,32,N
4170,78650,Matt,Zunic,Matt Zunic,"Zunic, Matt",M. Zunic,matt-zunic,1919-12-19 00:00:00,George Washington,USA,...,HISTADD_matt_zunic,1948.0,1948.0,N,Y,Y,1947,NaN,NaN,N

In [5]:
columnas_a_eliminar = ['display_first_last', 'display_last_comma_first', 'display_fi_last', 'player_slug', 'last_affiliation', 'team_id', 'team_code', 'dleague_flag', 'nba_flag', 'games_played_flag', 'greatest_75_flag', 'games_played_current_season_flag']
data_cleaned = data.drop(columns=columnas_a_eliminar)

#playercode no creo que sirva, pero lo dejo por si acaso

#Para ver todas las columnas
pd.set_option('display.max_columns', None)
data_cleaned

,person_id,first_name,last_name,birthdate,school,country,height,weight,season_exp,jersey,position,rosterstatus,team_name,team_abbreviation,team_city,playercode,from_year,to_year,draft_year,draft_round,draft_number
0,76001,Alaa,Abdelnaby,1968-06-24 00:00:00,Duke,USA,6-10,240.0,5.0,30,Forward,Inactive,Trail Blazers,POR,Portland,HISTADD_alaa_abdelnaby,1990.0,1994.0,1990,1,25
1,76003,Kareem,Abdul-Jabbar,1947-04-16 00:00:00,UCLA,USA,7-2,225.0,20.0,33,Center,Inactive,Lakers,LAL,Los Angeles,HISTADD_kareem_abdul-jabbar,1969.0,1988.0,1969,1,1
2,1505,Tariq,Abdul-Wahad,1974-11-03 00:00:00,San Jose State,France,6-6,235.0,7.0,9,Forward-Guard,Inactive,Kings,SAC,Sacramento,tariq_abdul-wahad,1997.0,2003.0,1997,1,11
3,949,Shareef,Abdur-Rahim,1976-12-11 00:00:00,California,USA,6-9,245.0,13.0,3,Forward,Inactive,Grizzlies,VAN,Vancouver,shareef_abdur-rahim,1996.0,2007.0,1996,1,3
4,76005,Tom,Abernethy,1954-05-06 00:00:00,Indiana,USA,6-7,220.0,5.0,5,Forward,Inactive,Warriors,GOS,Golden State,HISTADD_tom_abernethy,1976.0,1980.0,1976,3,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4166,1627835,Paul,Zipser,1994-02-18 00:00:00,Bayern Munich,Germany,6-8,226.0,2.0,16,Forward,Inactive,Bulls,CHI,Chicago,paul_zipser,2016.0,2017.0,2016,2,48
4167,1627790,Ante,Zizic,1997-01-04 00:00:00,Darussafaka,Croatia,6-10,266.0,4.0,41,Center,Inactive,Cavaliers,CLE,Cleveland,ante_zizic,2017.0,2019.0,2016,1,23
4168,78647,Jim,Zoet,1953-12-30 00:00:00,Kent State,USA,7-1,240.0,1.0,34,Center,Inactive,Pistons,DET,Detroit,HISTADD_jim_zoet,1982.0,1982.0,Undrafted,Undrafted,Undrafted
4169,1627826,Ivica,Zubac,1997-03-18 00:00:00,Mega Basket,Croatia,7-0,240.0,7.0,40,Center,Active,Clippers,LAC,LA,ivica_zubac,2016.0,2023.0,2016,2,32
4170,78650,Matt,Zunic,1919-12-19 00:00:00,George Washington,USA,6-3,195.0,1.0,NaN,Guard,Inactive,Capitols,WAS,Washington,HISTADD_matt_zunic,1948.0,1948.0,1947,NaN,NaN

In [6]:
data_cleaned.to_csv("common_player_info_clean.csv", index=False)

In [7]:
# Ver los valores únicos y su frecuencia en la columna
frecuencia_valores = data_cleaned['draft_round'].value_counts()

# Mostrar los valores únicos y sus frecuencias
print(frecuencia_valores)

draft_round
1            1373
Undrafted    1081
2             986
3             216
4             112
5              67
6              48
7              37
8              33
10             13
9              12
11              9
12              7
0               6
17              2
13              1
14              1
19              1
15              1
20              1
Name: count, dtype: int64

In [8]:
# Ver los valores únicos y su frecuencia en la columna
frecuencia_valores = data_cleaned['draft_number'].value_counts()

# Mostrar los valores únicos y sus frecuencias
print(frecuencia_valores)

draft_number
Undrafted    1081
3              69
6              69
4              67
2              67
             ...
162             1
221             1
202             1
190             1
101             1
Name: count, Length: 162, dtype: int64

In [9]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4171 entries, 0 to 4170
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   person_id          4171 non-null   int64
 1   first_name         4171 non-null   object
 2   last_name          4171 non-null   object
 3   birthdate          4171 non-null   object
 4   school             4156 non-null   object
 5   country            4170 non-null   object
 6   height             4075 non-null   object
 7   weight             4071 non-null   float64
 8   season_exp         4171 non-null   float64
 9   jersey             3191 non-null   object
 10  position           4108 non-null   object
 11  rosterstatus       4171 non-null   object
 12  team_name          3469 non-null   object
 13  team_abbreviation  3469 non-null   object
 14  team_city          3469 non-null   object
 15  playercode         4170 non-null   object
 16  from_year          4156 non-null   float64
 17  to_year            4156 non-null   float64
 18  draft_year         4171 non-null   object
 19  draft_round        4007 non-null   object
 20  draft_number       3948 non-null   object
dtypes: float64(4), int64(1), object(16)
memory usage: 684.4+ KB

In [10]:
data_filtered = data_cleaned[(data_cleaned['from_year'] >= 2001) & (data_cleaned['from_year'] <= 2023)]
data_filtered

,person_id,first_name,last_name,birthdate,school,country,height,weight,season_exp,jersey,position,rosterstatus,team_name,team_abbreviation,team_city,playercode,from_year,to_year,draft_year,draft_round,draft_number
7,203518,Alex,Abrines,1993-08-01 00:00:00,FC Barcelona,Spain,6-6,200.0,3.0,NaN,Guard,Inactive,NaN,NaN,NaN,alex_abrines,2016.0,2018.0,2013,2,32
8,1630173,Precious,Achiuwa,1999-09-19 00:00:00,Memphis,Nigeria,6-8,225.0,3.0,5,Forward,Active,Raptors,TOR,Toronto,precious_achiuwa,2020.0,2023.0,2020,1,20
9,101165,Alex,Acker,1983-01-21 00:00:00,Pepperdine,USA,6-5,185.0,3.0,3,Guard,Inactive,Clippers,LAC,Los Angeles,alex_acker,2005.0,2008.0,2005,2,60
13,203112,Quincy,Acy,1990-10-06 00:00:00,Baylor,USA,6-7,240.0,7.0,NaN,Forward,Inactive,NaN,NaN,NaN,quincy_acy,2012.0,2018.0,2012,2,37
16,200801,Hassan,Adams,1984-06-20 00:00:00,Arizona,USA,6-4,220.0,2.0,NaN,Forward,Inactive,NaN,NaN,NaN,hassan_adams,2006.0,2008.0,2006,2,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4164,2583,Derrick,Zimmerman,1981-12-02 00:00:00,Mississippi State,USA,6-3,195.0,1.0,NaN,Guard,Inactive,NaN,NaN,NaN,derrick_zimmerman,2005.0,2005.0,2003,2,40
4165,1627757,Stephen,Zimmerman,1996-09-09 00:00:00,UNLV,USA,7-0,240.0,2.0,33,Center,Inactive,Magic,ORL,Orlando,stephen_zimmerman,2016.0,2016.0,2016,2,41
4166,1627835,Paul,Zipser,1994-02-18 00:00:00,Bayern Munich,Germany,6-8,226.0,2.0,16,Forward,Inactive,Bulls,CHI,Chicago,paul_zipser,2016.0,2017.0,2016,2,48
4167,1627790,Ante,Zizic,1997-01-04 00:00:00,Darussafaka,Croatia,6-10,266.0,4.0,41,Center,Inactive,Cavaliers,CLE,Cleveland,ante_zizic,2017.0,2019.0,2016,1,23
4169,1627826,Ivica,Zubac,1997-03-18 00:00:00,Mega Basket,Croatia,7-0,240.0,7.0,40,Center,Active,Clippers,LAC,LA,ivica_zubac,2016.0,2023.0,2016,2,32

In [11]:
# Ver los valores únicos y su frecuencia en la columna
frecuencia_valores = data_filtered['from_year'].value_counts()

# Mostrar los valores únicos y sus frecuencias
print(frecuencia_valores)

from_year
2021.0    115
2017.0    106
2019.0    101
2018.0     92
2020.0     79
2016.0     76
2005.0     75
2012.0     73
2013.0     73
2014.0     71
2011.0     70
2006.0     66
2022.0     66
2002.0     63
2010.0     61
2015.0     60
2001.0     59
2004.0     58
2009.0     55
2007.0     55
2008.0     48
2003.0     48
Name: count, dtype: int64

In [12]:
data_filtered.to_csv("common_player_info_clean.csv", index=False)