# Proyecto Integrador NBA

In [1]:
# Importo librerias

import pandas as pd

In [2]:
data = pd.read_csv("draft_history.csv", sep=',')

print(data.columns)

Index(['person_id', 'player_name', 'season', 'round_number', 'round_pick',
       'overall_pick', 'draft_type', 'team_id', 'team_city', 'team_name',
       'team_abbreviation', 'organization', 'organization_type',
       'player_profile_flag'],
      dtype='object')

In [3]:
data

,person_id,player_name,season,round_number,round_pick,overall_pick,draft_type,team_id,team_city,team_name,team_abbreviation,organization,organization_type,player_profile_flag
0,79299,Clifton McNeeley,1947,1,1,1,Draft,1610610031,Pittsburgh,Ironmen,PIT,Texas-El Paso,College/University,0
1,78109,Glen Selbo,1947,1,2,2,Draft,1610610035,Toronto,Huskies,HUS,Wisconsin,College/University,1
2,76649,Eddie Ehlers,1947,1,3,3,Draft,1610612738,Boston,Celtics,BOS,Purdue,College/University,1
3,79302,Walt Dropo,1947,1,4,4,Draft,1610610032,Providence,Steamrollers,PRO,Connecticut,College/University,0
4,77048,Dick Holub,1947,1,5,5,Draft,1610612752,New York,Knicks,NYK,Long Island-Brooklyn,College/University,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7985,1641771,Jalen Slawson,2023,2,24,54,Draft,1610612758,Sacramento,Kings,SAC,Furman,College/University,1
7986,1631209,Isaiah Wong,2023,2,25,55,Draft,1610612754,Indiana,Pacers,IND,Miami (FL),College/University,1
7987,1641844,Tarik Biberovic,2023,2,26,56,Draft,1610612763,Memphis,Grizzlies,MEM,Fenerbahce S.K. (Turkey),Other Team/Club,1
7988,1631218,Trayce Jackson-Davis,2023,2,27,57,Draft,1610612764,Washington,Wizards,WAS,Indiana,College/University,1
7989,1641753,Chris Livingston,2023,2,28,58,Draft,1610612749,Milwaukee,Bucks,MIL,Kentucky,College/University,1

In [4]:
data['player_profile_flag'].value_counts()

player_profile_flag
0    4441
1    3549
Name: count, dtype: int64

In [5]:
data = data.query('2001 <= season <= 2023')
data

,person_id,player_name,season,round_number,round_pick,overall_pick,draft_type,team_id,team_city,team_name,team_abbreviation,organization,organization_type,player_profile_flag
6683,2198,Kwame Brown,2001,1,1,1,Draft,1610612764,Washington,Wizards,WAS,Glynn Academy,High School,1
6684,2199,Tyson Chandler,2001,1,2,2,Draft,1610612746,Los Angeles,Clippers,LAC,Dominguez,High School,1
6685,2200,Pau Gasol,2001,1,3,3,Draft,1610612737,Atlanta,Hawks,ATL,FC Barcelona Basquet (Spain),Other Team/Club,1
6686,2201,Eddy Curry,2001,1,4,4,Draft,1610612741,Chicago,Bulls,CHI,Thornwood,High School,1
6687,2202,Jason Richardson,2001,1,5,5,Draft,1610612744,Golden State,Warriors,GSW,Michigan State,College/University,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7985,1641771,Jalen Slawson,2023,2,24,54,Draft,1610612758,Sacramento,Kings,SAC,Furman,College/University,1
7986,1631209,Isaiah Wong,2023,2,25,55,Draft,1610612754,Indiana,Pacers,IND,Miami (FL),College/University,1
7987,1641844,Tarik Biberovic,2023,2,26,56,Draft,1610612763,Memphis,Grizzlies,MEM,Fenerbahce S.K. (Turkey),Other Team/Club,1
7988,1631218,Trayce Jackson-Davis,2023,2,27,57,Draft,1610612764,Washington,Wizards,WAS,Indiana,College/University,1
7989,1641753,Chris Livingston,2023,2,28,58,Draft,1610612749,Milwaukee,Bucks,MIL,Kentucky,College/University,1

In [6]:
data.to_csv("draft_history_clean.csv", index=False)

In [7]:
data = data.drop(columns=['player_profile_flag', 'draft_type'])
data

,person_id,player_name,season,round_number,round_pick,overall_pick,team_id,team_city,team_name,team_abbreviation,organization,organization_type
6683,2198,Kwame Brown,2001,1,1,1,1610612764,Washington,Wizards,WAS,Glynn Academy,High School
6684,2199,Tyson Chandler,2001,1,2,2,1610612746,Los Angeles,Clippers,LAC,Dominguez,High School
6685,2200,Pau Gasol,2001,1,3,3,1610612737,Atlanta,Hawks,ATL,FC Barcelona Basquet (Spain),Other Team/Club
6686,2201,Eddy Curry,2001,1,4,4,1610612741,Chicago,Bulls,CHI,Thornwood,High School
6687,2202,Jason Richardson,2001,1,5,5,1610612744,Golden State,Warriors,GSW,Michigan State,College/University
...,...,...,...,...,...,...,...,...,...,...,...,...
7985,1641771,Jalen Slawson,2023,2,24,54,1610612758,Sacramento,Kings,SAC,Furman,College/University
7986,1631209,Isaiah Wong,2023,2,25,55,1610612754,Indiana,Pacers,IND,Miami (FL),College/University
7987,1641844,Tarik Biberovic,2023,2,26,56,1610612763,Memphis,Grizzlies,MEM,Fenerbahce S.K. (Turkey),Other Team/Club
7988,1631218,Trayce Jackson-Davis,2023,2,27,57,1610612764,Washington,Wizards,WAS,Indiana,College/University
7989,1641753,Chris Livingston,2023,2,28,58,1610612749,Milwaukee,Bucks,MIL,Kentucky,College/University

In [8]:
data.to_csv("draft_history_clean.csv", index=False)

In [9]:
data

,person_id,player_name,season,round_number,round_pick,overall_pick,team_id,team_city,team_name,team_abbreviation,organization,organization_type
6683,2198,Kwame Brown,2001,1,1,1,1610612764,Washington,Wizards,WAS,Glynn Academy,High School
6684,2199,Tyson Chandler,2001,1,2,2,1610612746,Los Angeles,Clippers,LAC,Dominguez,High School
6685,2200,Pau Gasol,2001,1,3,3,1610612737,Atlanta,Hawks,ATL,FC Barcelona Basquet (Spain),Other Team/Club
6686,2201,Eddy Curry,2001,1,4,4,1610612741,Chicago,Bulls,CHI,Thornwood,High School
6687,2202,Jason Richardson,2001,1,5,5,1610612744,Golden State,Warriors,GSW,Michigan State,College/University
...,...,...,...,...,...,...,...,...,...,...,...,...
7985,1641771,Jalen Slawson,2023,2,24,54,1610612758,Sacramento,Kings,SAC,Furman,College/University
7986,1631209,Isaiah Wong,2023,2,25,55,1610612754,Indiana,Pacers,IND,Miami (FL),College/University
7987,1641844,Tarik Biberovic,2023,2,26,56,1610612763,Memphis,Grizzlies,MEM,Fenerbahce S.K. (Turkey),Other Team/Club
7988,1631218,Trayce Jackson-Davis,2023,2,27,57,1610612764,Washington,Wizards,WAS,Indiana,College/University
7989,1641753,Chris Livingston,2023,2,28,58,1610612749,Milwaukee,Bucks,MIL,Kentucky,College/University