In [2]:
import pandas as pd
import numpy as np

In [3]:
game_info=pd.read_csv('game_info.csv')

In [4]:
print(game_info)

        game_id            game_date  attendance game_time
0      24600001  1946-11-01 00:00:00         NaN       NaN
1      24600003  1946-11-02 00:00:00         NaN       NaN
2      24600002  1946-11-02 00:00:00         NaN       NaN
3      24600004  1946-11-02 00:00:00         NaN       NaN
4      24600005  1946-11-02 00:00:00         NaN       NaN
...         ...                  ...         ...       ...
58048  42200403  2023-06-07 00:00:00     20019.0      2:24
58049  42200404  2023-06-09 00:00:00     20184.0      2:29
58050  42200405  2023-06-12 00:00:00     19537.0      2:22
58051  32200001  2023-02-19 00:00:00     17886.0      0:00
58052  32200001  2023-02-19 00:00:00     17886.0      0:00

[58053 rows x 4 columns]

In [5]:
# Convertir la columna 'fecha' a formato datetime 
game_info['game_date'] = pd.to_datetime(game_info['game_date'])

#Temporada 2018 en adelante
game_info_filtrada= game_info[game_info['game_date'] >  '2018-10-01']


game_info_filtrada

        game_id  game_date  attendance game_time
52196  21800001 2018-10-16     18624.0      2:19
52197  21800002 2018-10-16     19596.0      2:25
52198  21800010 2018-10-17     18354.0      2:17
52199  21800013 2018-10-17     18055.0      2:15
52200  21800012 2018-10-17     19068.0      2:30
...         ...        ...         ...       ...
58048  42200403 2023-06-07     20019.0      2:24
58049  42200404 2023-06-09     20184.0      2:29
58050  42200405 2023-06-12     19537.0      2:22
58051  32200001 2023-02-19     17886.0      0:00
58052  32200001 2023-02-19     17886.0      0:00

[5857 rows x 4 columns]

In [6]:
# Eliminar la columna 'game_time' de game_info
game_info_filtrada= game_info_filtrada.drop('game_time', axis=1)

# Verificar que la columna ha sido eliminada
print(game_info_filtrada.head())

        game_id  game_date  attendance
52196  21800001 2018-10-16     18624.0
52197  21800002 2018-10-16     19596.0
52198  21800010 2018-10-17     18354.0
52199  21800013 2018-10-17     18055.0
52200  21800012 2018-10-17     19068.0

In [7]:
# Eliminar filas donde los valores de la Attendance (Publico) sean mayores a 22,000. Quito valores Outliers
game_info_filtrada = game_info_filtrada[game_info_filtrada['attendance'] <= 21711]

# Verificar el resultado
print(game_info_filtrada.head())

        game_id  game_date  attendance
52196  21800001 2018-10-16     18624.0
52197  21800002 2018-10-16     19596.0
52198  21800010 2018-10-17     18354.0
52199  21800013 2018-10-17     18055.0
52200  21800012 2018-10-17     19068.0

In [8]:
game_info_filtrada['attendance'].describe()

count     5060.000000
mean     16357.167589
std       4665.282127
min          0.000000
25%      15703.500000
50%      17923.000000
75%      19156.000000
max      21700.000000
Name: attendance, dtype: float64

In [9]:
game_info_filtrada

        game_id  game_date  attendance
52196  21800001 2018-10-16     18624.0
52197  21800002 2018-10-16     19596.0
52198  21800010 2018-10-17     18354.0
52199  21800013 2018-10-17     18055.0
52200  21800012 2018-10-17     19068.0
...         ...        ...         ...
58048  42200403 2023-06-07     20019.0
58049  42200404 2023-06-09     20184.0
58050  42200405 2023-06-12     19537.0
58051  32200001 2023-02-19     17886.0
58052  32200001 2023-02-19     17886.0

[5060 rows x 3 columns]

In [10]:
print(game_info_filtrada.isnull().sum())

game_id       0
game_date     0
attendance    0
dtype: int64

In [11]:
game_info_filtrada.to_csv("game_info_filtrada.csv", index=False)

In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Leer el CSV
df = pd.read_csv('game_info_filtrada.csv')

# Parámetros de conexión a SQL Server
server = 'server-sql-grupo1.database.windows.net'
database = 'NBA'
username = 'Admon'
password = 'Password.Server1'

# Crear la URL de conexión
connection_string = f'mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server'

# Crear el motor de conexión
engine = create_engine(connection_string)

# Subir el DataFrame a SQL Server (especificando el nombre de la tabla)
df.to_sql('game_info_filtrada', con=engine, if_exists='replace', index=False)

167