Proyecto Final EDA

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

leer archivo other_stats

In [5]:
df = pd.read_csv("Datos/other_stats.csv")

In [8]:
game = pd.read_csv("Datos/game_filtrada.csv", usecols=["game_id"])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28271 entries, 0 to 28270
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 28271 non-null  int64
 1   league_id               28271 non-null  int64
 2   team_id_home            28271 non-null  int64
 3   team_abbreviation_home  28271 non-null  object
 4   team_city_home          28271 non-null  object
 5   pts_paint_home          28271 non-null  int64
 6   pts_2nd_chance_home     28271 non-null  int64
 7   pts_fb_home             28271 non-null  int64
 8   largest_lead_home       28271 non-null  int64
 9   lead_changes            28271 non-null  int64
 10  times_tied              28271 non-null  int64
 11  team_turnovers_home     28269 non-null  float64
 12  total_turnovers_home    27955 non-null  float64
 13  team_rebounds_home      26273 non-null  float64
 14  pts_off_to_home         26148 non-null  float64
 15  team_id_away            28271 non-null  int64
 16  team_abbreviation_away  28271 non-null  object
 17  team_city_away          28271 non-null  object
 18  pts_paint_away          28271 non-null  int64
 19  pts_2nd_chance_away     28271 non-null  int64
 20  pts_fb_away             28271 non-null  int64
 21  largest_lead_away       28271 non-null  int64
 22  team_turnovers_away     28269 non-null  float64
 23  total_turnovers_away    27955 non-null  float64
 24  team_rebounds_away      26273 non-null  float64
 25  pts_off_to_away         26148 non-null  float64
dtypes: float64(8), int64(14), object(4)
memory usage: 5.6+ MB

In [17]:
df.head(10)

,game_id,league_id,team_id_home,team_abbreviation_home,team_city_home,pts_paint_home,pts_2nd_chance_home,pts_fb_home,largest_lead_home,lead_changes,...,team_abbreviation_away,team_city_away,pts_paint_away,pts_2nd_chance_away,pts_fb_away,largest_lead_away,team_turnovers_away,total_turnovers_away,team_rebounds_away,pts_off_to_away
0,29600012,0,1610612756,PHX,Phoenix,44,18,2,1,4,...,LAL,Los Angeles,42,10,13,19,0.0,23.0,11.0,NaN
1,29600005,0,1610612737,ATL,Atlanta,32,9,6,0,0,...,MIA,Miami,32,15,14,16,1.0,19.0,6.0,NaN
2,29600002,0,1610612739,CLE,Cleveland,36,14,6,20,1,...,NJN,New Jersey,26,16,4,2,1.0,22.0,12.0,NaN
3,29600007,0,1610612754,IND,Indiana,34,11,4,10,7,...,DET,Detroit,30,14,7,9,2.0,19.0,10.0,NaN
4,29600013,0,1610612746,LAC,Los Angeles,40,19,2,12,5,...,GSW,Golden State,30,9,2,6,0.0,20.0,7.0,NaN
5,29600009,0,1610612745,HOU,Houston,44,16,20,25,8,...,SAC,Sacramento,38,9,12,2,0.0,27.0,11.0,NaN
6,29600014,0,1610612757,POR,Portland,62,24,19,35,3,...,VAN,Vancouver,34,8,6,2,1.0,16.0,9.0,NaN
7,29600001,0,1610612738,BOS,Boston,48,18,15,16,8,...,CHI,Chicago,56,12,15,11,0.0,19.0,13.0,NaN
8,29600006,0,1610612761,TOR,Toronto,28,11,14,7,16,...,NYK,New York,38,10,15,11,0.0,24.0,13.0,NaN
9,29600003,0,1610612749,MIL,Milwaukee,46,27,9,14,4,...,PHI,Philadelphia,54,8,24,2,1.0,14.0,10.0,NaN

In [18]:
df.tail(10)

,game_id,league_id,team_id_home,team_abbreviation_home,team_city_home,pts_paint_home,pts_2nd_chance_home,pts_fb_home,largest_lead_home,lead_changes,...,team_abbreviation_away,team_city_away,pts_paint_away,pts_2nd_chance_away,pts_fb_away,largest_lead_away,team_turnovers_away,total_turnovers_away,team_rebounds_away,pts_off_to_away
28261,42200314,0,1610612747,LAL,Los Angeles,62,16,11,15,1,...,DEN,Denver,48,15,9,7,3.0,11.0,6.0,17.0
28262,42200304,0,1610612748,MIA,Miami,46,17,10,9,8,...,BOS,Boston,40,15,18,18,0.0,10.0,7.0,14.0
28263,42200305,0,1610612738,BOS,Boston,42,17,12,24,0,...,MIA,Miami,52,7,16,0,0.0,16.0,5.0,27.0
28264,42200307,0,1610612748,MIA,Miami,38,16,17,23,1,...,BOS,Boston,42,13,8,5,0.0,15.0,4.0,19.0
28265,42200401,0,1610612748,MIA,Miami,38,8,4,1,4,...,DEN,Denver,46,7,9,24,0.0,10.0,7.0,9.0
28266,42200402,0,1610612743,DEN,Denver,50,15,18,15,4,...,MIA,Miami,34,11,5,12,0.0,11.0,4.0,23.0
28267,42200403,0,1610612748,MIA,Miami,34,7,11,5,7,...,DEN,Denver,60,14,11,21,1.0,14.0,7.0,17.0
28268,42200404,0,1610612743,DEN,Denver,48,6,12,17,3,...,MIA,Miami,46,9,14,3,1.0,15.0,9.0,17.0
28269,32200001,0,1610616834,LBN,Team,118,15,27,4,24,...,GNS,Team,88,14,33,19,0.0,12.0,3.0,20.0
28270,32200001,0,1610616834,LBN,Team,118,15,27,4,24,...,GNS,Team,88,14,33,19,0.0,12.0,3.0,20.0

In [19]:
pd.unique(df["team_abbreviation_home"])

array(['PHX', 'ATL', 'CLE', 'IND', 'LAC', 'HOU', 'POR', 'BOS', 'TOR',
       'MIL', 'SAS', 'UTA', 'WAS', 'MIA', 'DET', 'CHI', 'CHH', 'DAL',
       'VAN', 'LAL', 'DEN', 'NYK', 'GSW', 'SAC', 'NJN', 'PHI', 'MIN',
       'SEA', 'ORL', 'WST', 'EST', 'MEM', 'NOH', 'CHA', 'NOK', 'OKC',
       'MAC', 'BAR', 'MOS', 'LAB', 'RMD', 'ALB', 'MPS', 'FCB', 'BKN',
       'NOP', 'UBB', 'MTA', 'FLA', 'MLN', 'BAU', 'FEN', 'SDS', 'MEL',
       'GNS', 'LBN', 'MRA', 'ADL'], dtype=object)

In [20]:
pd.unique(df["league_id"])

array([0])

In [21]:
#dado que es una unica liga, correspondiente al NBA por lo que se eliminará
df = df.drop(columns=["league_id"])

In [22]:
#revisar valores nulos del df
valores_nulos = df.isnull().sum()[df.isnull().sum()>0]
print(valores_nulos)

team_turnovers_home        2
total_turnovers_home     316
team_rebounds_home      1998
pts_off_to_home         2123
team_turnovers_away        2
total_turnovers_away     316
team_rebounds_away      1998
pts_off_to_away         2123
dtype: int64

In [23]:
print(df["pts_off_to_away"])
print(df["team_turnovers_home"])
print(df["team_rebounds_home"])
print(df["pts_off_to_home"])

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
28266    23.0
28267    17.0
28268    17.0
28269    20.0
28270    20.0
Name: pts_off_to_away, Length: 28271, dtype: float64
0        0.0
1        1.0
2        0.0
3        0.0
4        0.0
        ...
28266    1.0
28267    0.0
28268    2.0
28269    0.0
28270    0.0
Name: team_turnovers_home, Length: 28271, dtype: float64
0        11.0
1         7.0
2         5.0
3         8.0
4         7.0
         ...
28266     8.0
28267     8.0
28268    11.0
28269     7.0
28270     7.0
Name: team_rebounds_home, Length: 28271, dtype: float64
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
28266    19.0
28267     8.0
28268     8.0
28269    13.0
28270    13.0
Name: pts_off_to_home, Length: 28271, dtype: float64

In [24]:
columnas_a_llenar = ['team_turnovers_home', 'total_turnovers_home', 'team_rebounds_home', 'pts_off_to_home', 'team_turnovers_away', 'total_turnovers_away',
                     'team_rebounds_away', 'pts_off_to_away']

for columna in columnas_a_llenar:
    df[columna] = df[columna].fillna(0)

print(df)

        game_id  team_id_home team_abbreviation_home team_city_home  \
0      29600012    1610612756                    PHX        Phoenix
1      29600005    1610612737                    ATL        Atlanta
2      29600002    1610612739                    CLE      Cleveland
3      29600007    1610612754                    IND        Indiana
4      29600013    1610612746                    LAC    Los Angeles
...         ...           ...                    ...            ...
28266  42200402    1610612743                    DEN         Denver
28267  42200403    1610612748                    MIA          Miami
28268  42200404    1610612743                    DEN         Denver
28269  32200001    1610616834                    LBN           Team
28270  32200001    1610616834                    LBN           Team

       pts_paint_home  pts_2nd_chance_home  pts_fb_home  largest_lead_home  \
0                  44                   18            2                  1
1                  32                    9            6                  0
2                  36                   14            6                 20
3                  34                   11            4                 10
4                  40                   19            2                 12
...               ...                  ...          ...                ...
28266              50                   15           18                 15
28267              34                    7           11                  5
28268              48                    6           12                 17
28269             118                   15           27                  4
28270             118                   15           27                  4

       lead_changes  times_tied  ...  team_abbreviation_away  team_city_away  \
0                 4           1  ...                     LAL     Los Angeles
1                 0           0  ...                     MIA           Miami
2                 1           1  ...                     NJN      New Jersey
3                 7           4  ...                     DET         Detroit
4                 5           4  ...                     GSW    Golden State
...             ...         ...  ...                     ...             ...
28266             4           3  ...                     MIA           Miami
28267             7           7  ...                     DEN          Denver
28268             3           6  ...                     MIA           Miami
28269            24          14  ...                     GNS            Team
28270            24          14  ...                     GNS            Team

       pts_paint_away  pts_2nd_chance_away  pts_fb_away largest_lead_away  \
0                  42                   10           13                19
1                  32                   15           14                16
2                  26                   16            4                 2
3                  30                   14            7                 9
4                  30                    9            2                 6
...               ...                  ...          ...               ...
28266              34                   11            5                12
28267              60                   14           11                21
28268              46                    9           14                 3
28269              88                   14           33                19
28270              88                   14           33                19

      team_turnovers_away  total_turnovers_away  team_rebounds_away  \
0                     0.0                  23.0                11.0
1                     1.0                  19.0                 6.0
2                     1.0                  22.0                12.0
3                     2.0                  19.0                10.0
4                     0.0                  20.0                 7.0
...                   ...                   ...                 ...
28266                 0.0                  11.0                 4.0
28267                 1.0                  14.0                 7.0
28268                 1.0                  15.0                 9.0
28269                 0.0                  12.0                 3.0
28270                 0.0                  12.0                 3.0

       pts_off_to_away
0                  0.0
1                  0.0
2                  0.0
3                  0.0
4                  0.0
...                ...
28266             23.0
28267             17.0
28268             17.0
28269             20.0
28270             20.0

[28271 rows x 25 columns]

In [25]:
#revisar valores nulos del df
valores_nulos = df.isnull().sum()[df.isnull().sum()>0]
print(valores_nulos)

Series([], dtype: int64)

In [26]:
df.duplicated().sum()

np.int64(10)

In [27]:
duplicados = df[df.duplicated(keep=False)]
print(duplicados)

        game_id  team_id_home team_abbreviation_home      team_city_home  \
1022   39600001    1610616834                    WST  West NBA All Stars
1023   39600001    1610616834                    WST  West NBA All Stars
3745   39900001    1610616833                    EST  East NBA All Stars
3746   39900001    1610616833                    EST  East NBA All Stars
6860   30200001    1610616834                    WST  West NBA All Stars
6861   30200001    1610616834                    WST  West NBA All Stars
14417  30900001    1610616833                    EST  East NBA All Stars
14418  30900001    1610616833                    EST  East NBA All Stars
15652  31000001    1610616834                    WST  West NBA All Stars
15653  31000001    1610616834                    WST  West NBA All Stars
16746  31200001    1610616833                    EST  East NBA All Stars
16747  31200001    1610616833                    EST  East NBA All Stars
19193  31400001    1610616834                    WST  West NBA All Stars
19194  31400001    1610616834                    WST  West NBA All Stars
21610  31600001    1610616834                    WST  West NBA All Stars
21611  31600001    1610616834                    WST  West NBA All Stars
23900  31800001    1610616833                    GNS                Team
23901  31800001    1610616833                    GNS                Team
28269  32200001    1610616834                    LBN                Team
28270  32200001    1610616834                    LBN                Team

       pts_paint_home  pts_2nd_chance_home  pts_fb_home  largest_lead_home  \
1022               74                   10           26                 23
1023               74                   10           26                 23
3745               54                   29           21                  2
3746               54                   29           21                  2
6860               88                   21           32                 11
6861               88                   21           32                 11
14417              88                   11           56                 16
14418              88                   11           56                 16
15652              80                   35           43                 17
15653              80                   35           43                 17
16746              66                   15           21                  2
16747              66                   15           21                  2
19193              68                   22           59                 20
19194              68                   22           59                 20
21610             120                   23          106                 15
21611             120                   23          106                 15
23900              78                   26           37                 20
23901              78                   26           37                 20
28269             118                   15           27                  4
28270             118                   15           27                  4

       lead_changes  times_tied  ...  team_abbreviation_away  \
1022              4           2  ...                     EST
1023              4           2  ...                     EST
3745              2           4  ...                     WST
3746              2           4  ...                     WST
6860             26          16  ...                     EST
6861             26          16  ...                     EST
14417            13          12  ...                     WST
14418            13          12  ...                     WST
15652             1           2  ...                     EST
15653             1           2  ...                     EST
16746            22           7  ...                     WST
16747            22           7  ...                     WST
19193            17          11  ...                     EST
19194            17          11  ...                     EST
21610            16           6  ...                     EST
21611            16           6  ...                     EST
23900             9           8  ...                     LBN
23901             9           8  ...                     LBN
28269            24          14  ...                     GNS
28270            24          14  ...                     GNS

           team_city_away  pts_paint_away  pts_2nd_chance_away  pts_fb_away  \
1022   East NBA All Stars              80                   38           24
1023   East NBA All Stars              80                   38           24
3745   West NBA All Stars              86                   34           26
3746   West NBA All Stars              86                   34           26
6860   East NBA All Stars              64                   15           31
6861   East NBA All Stars              64                   15           31
14417  West NBA All Stars              74                   21           24
14418  West NBA All Stars              74                   21           24
15652  East NBA All Stars              86                   22           53
15653  East NBA All Stars              86                   22           53
16746  West NBA All Stars              88                   13           38
16747  West NBA All Stars              88                   13           38
19193  East NBA All Stars              82                   25           61
19194  East NBA All Stars              82                   25           61
21610  East NBA All Stars             106                   14          107
21611  East NBA All Stars             106                   14          107
23900                Team              62                   19           33
23901                Team              62                   19           33
28269                Team              88                   14           33
28270                Team              88                   14           33

      largest_lead_away team_turnovers_away  total_turnovers_away  \
1022                 18                 0.0                   0.0
1023                 18                 0.0                   0.0
3745                 17                 1.0                  22.0
3746                 17                 1.0                  22.0
6860                 10                 1.0                  23.0
6861                 10                 1.0                  23.0
14417                 7                 0.0                  23.0
14418                 7                 0.0                  23.0
15652                 4                 0.0                  21.0
15653                 4                 0.0                  21.0
16746                11                 0.0                  15.0
16747                11                 0.0                  15.0
19193                 4                 0.0                  18.0
19194                 4                 0.0                  18.0
21610                 8                 0.0                  19.0
21611                 8                 0.0                  19.0
23900                16                 0.0                   9.0
23901                16                 0.0                   9.0
28269                19                 0.0                  12.0
28270                19                 0.0                  12.0

       team_rebounds_away  pts_off_to_away
1022                  0.0              0.0
1023                  0.0              0.0
3745                  5.0             24.0
3746                  5.0             24.0
6860                 11.0             31.0
6861                 11.0             31.0
14417                 7.0             31.0
14418                 7.0             31.0
15652                11.0             29.0
15653                11.0             29.0
16746                 7.0             26.0
16747                 7.0             26.0
19193                 6.0             18.0
19194                 6.0             18.0
21610                 4.0             25.0
21611                 4.0             25.0
23900                 5.0             12.0
23901                 5.0             12.0
28269                 3.0             20.0
28270                 3.0             20.0

[20 rows x 25 columns]

In [28]:
#revisar de forma rapida como estan los datos estadisticos
df.describe()

,game_id,team_id_home,pts_paint_home,pts_2nd_chance_home,pts_fb_home,largest_lead_home,lead_changes,times_tied,team_turnovers_home,total_turnovers_home,...,pts_off_to_home,team_id_away,pts_paint_away,pts_2nd_chance_away,pts_fb_away,largest_lead_away,team_turnovers_away,total_turnovers_away,team_rebounds_away,pts_off_to_away
count,2.827100e+04,2.827100e+04,28271.000000,28271.000000,28271.000000,28271.000000,28271.000000,28271.000000,28271.000000,28271.000000,...,28271.000000,2.827100e+04,28271.000000,28271.000000,28271.000000,28271.000000,28271.000000,28271.000000,28271.000000,28271.000000
mean,2.314451e+07,1.608619e+09,41.904496,13.243889,13.006119,11.949383,6.075378,5.098086,0.628701,14.401401,...,14.084044,1.609416e+09,41.658307,13.328145,12.882424,11.641046,0.633299,14.432280,7.863040,14.177921
std,5.886506e+06,5.663573e+07,10.566933,5.405389,6.675118,9.148112,5.287184,4.105700,0.808285,4.305001,...,7.933965,4.388075e+07,10.450258,5.402271,6.544709,9.010137,0.820532,4.322562,3.696554,8.013362
min,1.100000e+07,4.100000e+01,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,4.100000e+01,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.060030e+07,1.610613e+09,34.000000,9.000000,8.000000,5.000000,2.000000,2.000000,0.000000,12.000000,...,10.000000,1.610613e+09,34.000000,10.000000,8.000000,5.000000,0.000000,12.000000,6.000000,10.000000
50%,2.140031e+07,1.610613e+09,42.000000,13.000000,12.000000,10.000000,5.000000,4.000000,0.000000,14.000000,...,15.000000,1.610613e+09,42.000000,13.000000,12.000000,10.000000,0.000000,14.000000,8.000000,15.000000
75%,2.210032e+07,1.610613e+09,48.000000,17.000000,17.000000,17.000000,9.000000,8.000000,1.000000,17.000000,...,19.000000,1.610613e+09,48.000000,17.000000,17.000000,17.000000,1.000000,17.000000,10.000000,19.000000
max,4.980009e+07,1.610617e+09,120.000000,37.000000,106.000000,70.000000,40.000000,29.000000,6.000000,34.000000,...,47.000000,1.610617e+09,108.000000,38.000000,107.000000,78.000000,7.000000,33.000000,24.000000,44.000000

In [29]:
df.columns

Index(['game_id', 'team_id_home', 'team_abbreviation_home', 'team_city_home',
       'pts_paint_home', 'pts_2nd_chance_home', 'pts_fb_home',
       'largest_lead_home', 'lead_changes', 'times_tied',
       'team_turnovers_home', 'total_turnovers_home', 'team_rebounds_home',
       'pts_off_to_home', 'team_id_away', 'team_abbreviation_away',
       'team_city_away', 'pts_paint_away', 'pts_2nd_chance_away',
       'pts_fb_away', 'largest_lead_away', 'team_turnovers_away',
       'total_turnovers_away', 'team_rebounds_away', 'pts_off_to_away'],
      dtype='object')

In [58]:
dato = df['team_city_away'].info
dato

<bound method Series.info of 0         Los Angeles
1               Miami
2          New Jersey
3             Detroit
4        Golden State
             ...
28266           Miami
28267          Denver
28268           Miami
28269            Team
28270            Team
Name: team_city_away, Length: 28271, dtype: object>

Revisar la tabla de game_filtrada para filtrar la informacion respecto a los juegos de analisis

In [10]:
game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6250 entries, 0 to 6249
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   game_id  6250 non-null   int64
dtypes: int64(1)
memory usage: 49.0 KB

In [34]:
game_ids_filtrados = game['game_id'].unique().tolist()
game_ids_filtrados

[21800001,
 21800002,
 21800010,
 21800013,
 21800012,
 21800007,
 21800011,
 21800009,
 21800006,
 21800005,
 21800004,
 21800003,
 21800008,
 21800016,
 21800015,
 21800014,
 21800025,
 21800018,
 21800021,
 21800017,
 21800023,
 21800019,
 21800024,
 21800020,
 21800022,
 21800030,
 21800034,
 21800026,
 21800032,
 21800035,
 21800031,
 21800027,
 21800028,
 21800033,
 21800029,
 21800038,
 21800039,
 21800036,
 21800037,
 21800042,
 21800046,
 21800048,
 21800041,
 21800044,
 21800047,
 21800040,
 21800045,
 21800043,
 21800051,
 21800050,
 21800049,
 21800060,
 21800061,
 21800055,
 21800056,
 21800059,
 21800058,
 21800057,
 21800052,
 21800054,
 21800053,
 21800062,
 21800066,
 21800065,
 21800064,
 21800063,
 21800071,
 21800072,
 21800069,
 21800068,
 21800073,
 21800067,
 21800070,
 21800080,
 21800082,
 21800079,
 21800078,
 21800077,
 21800076,
 21800081,
 21800074,
 21800075,
 21800085,
 21800086,
 21800083,
 21800084,
 21800090,
 21800089,
 21800092,
 21800091,
 21800087,
 21800093,
 21800094,
 21800095,
 21800088,
 21800096,
 21800097,
 21800101,
 21800099,
 21800103,
 21800102,
 21800098,
 21800100,
 21800110,
 21800108,
 21800107,
 21800105,
 21800104,
 21800106,
 21800109,
 21800116,
 21800115,
 21800112,
 21800111,
 21800114,
 21800113,
 21800119,
 21800117,
 21800123,
 21800121,
 21800118,
 21800120,
 21800124,
 21800122,
 21800127,
 21800128,
 21800125,
 21800126,
 21800131,
 21800132,
 21800129,
 21800130,
 21800137,
 21800134,
 21800138,
 21800136,
 21800135,
 21800133,
 21800139,
 21800148,
 21800145,
 21800144,
 21800147,
 21800141,
 21800143,
 21800142,
 21800140,
 21800146,
 21800150,
 21800151,
 21800152,
 21800149,
 21800160,
 21800158,
 21800162,
 21800153,
 21800157,
 21800159,
 21800156,
 21800155,
 21800154,
 21800161,
 21800165,
 21800164,
 21800166,
 21800163,
 21800169,
 21800173,
 21800172,
 21800167,
 21800168,
 21800171,
 21800170,
 21800181,
 21800178,
 21800183,
 21800174,
 21800176,
 21800182,
 21800180,
 21800177,
 21800175,
 21800179,
 21800186,
 21800185,
 21800188,
 21800184,
 21800189,
 21800187,
 21800192,
 21800190,
 21800198,
 21800197,
 21800191,
 21800194,
 21800196,
 21800193,
 21800195,
 21800200,
 21800199,
 21800201,
 21800212,
 21800206,
 21800203,
 21800205,
 21800207,
 21800208,
 21800211,
 21800209,
 21800210,
 21800202,
 21800204,
 21800214,
 21800213,
 21800215,
 21800217,
 21800223,
 21800218,
 21800222,
 21800216,
 21800220,
 21800221,
 21800219,
 21800226,
 21800231,
 21800225,
 21800227,
 21800232,
 21800230,
 21800233,
 21800228,
 21800229,
 21800224,
 21800238,
 21800237,
 21800234,
 21800236,
 21800235,
 21800242,
 21800241,
 21800243,
 21800244,
 21800247,
 21800246,
 21800239,
 21800240,
 21800245,
 21800249,
 21800248,
 21800251,
 21800250,
 21800263,
 21800262,
 21800264,
 21800254,
 21800258,
 21800257,
 21800261,
 21800256,
 21800252,
 21800253,
 21800259,
 21800260,
 21800255,
 21800274,
 21800267,
 21800273,
 21800266,
 21800271,
 21800275,
 21800278,
 21800276,
 21800270,
 21800277,
 21800268,
 21800269,
 21800265,
 21800272,
 21800279,
 21800284,
 21800280,
 21800282,
 21800283,
 21800281,
 21800285,
 21800286,
 21800290,
 21800291,
 21800293,
 21800288,
 21800292,
 21800289,
 21800287,
 21800297,
 21800300,
 21800299,
 21800296,
 21800298,
 21800295,
 21800294,
 21800304,
 21800305,
 21800302,
 21800301,
 21800303,
 21800315,
 21800310,
 21800309,
 21800307,
 21800312,
 21800314,
 21800311,
 21800308,
 21800306,
 21800313,
 21800316,
 21800317,
 21800318,
 21800326,
 21800325,
 21800327,
 21800319,
 21800320,
 21800328,
 21800321,
 21800323,
 21800322,
 21800329,
 21800324,
 21800335,
 21800330,
 21800332,
 21800334,
 21800331,
 21800336,
 21800333,
 21800340,
 21800339,
 21800337,
 21800341,
 21800338,
 21800342,
 21800348,
 21800349,
 21800344,
 21800343,
 21800347,
 21800346,
 21800345,
 21800354,
 21800353,
 21800351,
 21800350,
 21800352,
 21800360,
 21800357,
 21800358,
 21800361,
 21800362,
 21800364,
 21800363,
 21800355,
 21800359,
 21800356,
 21800367,
 21800365,
 21800366,
 21800370,
 21800369,
 21800377,
 21800368,
 21800373,
 21800374,
 21800375,
 21800376,
 21800372,
 21800371,
 21800379,
 21800378,
 21800381,
 21800384,
 21800380,
 21800382,
 21800385,
 21800383,
 21800386,
 21800389,
 21800387,
 21800388,
 21800390,
 21800393,
 21800391,
 21800399,
 21800398,
 21800400,
 21800401,
 21800395,
 21800392,
 21800394,
 21800396,
 21800397,
 21800404,
 21800402,
 21800403,
 21800412,
 21800405,
 21800415,
 21800413,
 21800409,
 21800411,
 21800408,
 21800410,
 21800407,
 21800414,
 21800406,
 21800418,
 21800417,
 21800416,
 21800419,
 21800420,
 21800424,
 21800427,
 21800423,
 21800425,
 21800421,
 21800422,
 21800428,
 21800426,
 21800432,
 21800433,
 21800431,
 21800429,
 21800434,
 21800430,
 21800435,
 21800439,
 21800441,
 21800437,
 21800442,
 21800440,
 21800436,
 21800438,
 21800445,
 21800448,
 21800443,
 21800447,
 21800446,
 21800450,
 21800444,
 21800449,
 21800454,
 21800452,
 21800451,
 21800453,
 21800465,
 21800458,
 21800461,
 21800463,
 21800459,
 21800457,
 21800462,
 21800460,
 21800466,
 21800456,
 21800455,
 21800464,
 21800468,
 21800467,
 21800475,
 21800469,
 21800470,
 21800472,
 21800473,
 21800471,
 21800474,
 21800476,
 21800477,
 21800478,
 21800483,
 21800484,
 21800485,
 21800481,
 21800480,
 21800482,
 21800479,
 21800494,
 21800491,
 21800493,
 21800492,
 21800486,
 21800496,
 21800488,
 21800487,
 21800495,
 21800490,
 21800489,
 21800498,
 21800497,
 21800500,
 21800499,
 21800501,
 21800507,
 21800504,
 21800509,
 21800503,
 21800508,
 21800506,
 21800510,
 21800511,
 21800502,
 21800505,
 21800516,
 21800513,
 21800515,
 21800514,
 21800512,
 21800523,
 21800519,
 21800521,
 21800517,
 21800520,
 21800526,
 21800518,
 21800525,
 21800524,
 21800522,
 21800528,
 21800527,
 21800530,
 21800535,
 21800532,
 21800533,
 21800531,
 21800529,
 21800534,
 21800538,
 21800536,
 21800541,
 21800540,
 21800537,
 21800539,
 21800543,
 21800546,
 21800545,
 21800548,
 21800542,
 21800544,
 21800547,
 21800550,
 21800549,
 21800552,
 21800551,
 21800553,
 21800560,
 21800559,
 21800554,
 21800556,
 21800562,
 21800561,
 21800557,
 21800558,
 21800555,
 21800564,
 21800563,
 21800565,
 21800574,
 21800568,
 21800569,
 21800570,
 21800573,
 21800575,
 21800567,
 21800571,
 21800566,
 21800572,
 21800577,
 21800578,
 21800579,
 21800580,
 21800583,
 21800581,
 21800576,
 21800582,
 21800590,
 21800586,
 21800584,
 21800588,
 21800587,
 21800589,
 21800585,
 21800598,
 21800597,
 21800595,
 21800593,
 21800592,
 21800596,
 21800591,
 21800594,
 21800603,
 21800606,
 21800599,
 21800600,
 21800602,
 21800604,
 21800605,
 21800601,
 21800609,
 21800610,
 21800608,
 21800612,
 21800607,
 21800615,
 21800616,
 21800611,
 21800613,
 21800614,
 21800618,
 21800620,
 21800619,
 21800617,
 21800622,
 21800621,
 21800628,
 21800627,
 21800626,
 21800625,
 21800623,
 21800624,
 21800629,
 21800633,
 21800632,
 21800637,
 21800630,
 21800636,
 21800634,
 21800635,
 21800631,
 21800640,
 21800639,
 21800642,
 21800644,
 21800643,
 21800641,
 21800638,
 21800649,
 21800647,
 21800648,
 21800645,
 21800650,
 21800646,
 21800652,
 21800655,
 21800651,
 21800656,
 21800654,
 21800653,
 21800661,
 21800658,
 21800662,
 21800657,
 21800663,
 21800659,
 21800664,
 21800660,
 21800668,
 21800665,
 21800669,
 21800670,
 21800666,
 21800667,
 21800675,
 21800671,
 21800676,
 21800674,
 21800672,
 21800673,
 21800677,
 21800686,
 21800682,
 21800680,
 21800684,
 21800685,
 21800687,
 21800681,
 21800679,
 21800678,
 21800683,
 21800688,
 21800689,
 21800690,
 21800697,
 21800701,
 21800694,
 21800691,
 21800696,
 21800700,
 21800695,
 21800692,
 21800693,
 21800699,
 21800698,
 21800703,
 21800705,
 21800702,
 21800704,
 21800709,
 21800708,
 21800715,
 21800712,
 21800713,
 21800711,
 21800706,
 21800707,
 21800714,
 21800710,
 21800717,
 21800716,
 21800719,
 21800718,
 21800729,
 21800723,
 21800725,
 21800726,
 21800722,
 21800728,
 21800721,
 21800727,
 21800724,
 21800720,
 21800734,
 21800731,
 21800733,
 21800732,
 21800730,
 21800737,
 21800743,
 21800742,
 21800739,
 21800741,
 21800735,
 21800738,
 21800740,
 21800736,
 21800748,
 21800746,
 21800747,
 21800745,
 21800744,
 21800754,
 21800749,
 21800750,
 21800755,
 21800751,
 21800752,
 21800753,
 21800757,
 21800761,
 21800758,
 21800759,
 21800756,
 21800763,
 21800762,
 21800760,
 21800765,
 21800764,
 21800768,
 21800767,
 21800766,
 21800769,
 21800774,
 21800772,
 21800771,
 21800770,
 21800773,
 21800776,
 21800785,
 21800779,
 21800778,
 21800777,
 21800780,
 21800782,
 21800781,
 21800783,
 21800784,
 21800786,
 21800775,
 21800788,
 21800787,
 21800789,
 21800795,
 21800792,
 21800791,
 21800790,
 21800793,
 21800794,
 21800797,
 21800799,
 21800796,
 21800801,
 21800802,
 21800798,
 21800800,
 21800803,
 21800807,
 21800805,
 21800804,
 21800809,
 21800808,
 21800810,
 21800806,
 21800815,
 21800816,
 21800814,
 21800811,
 21800812,
 21800813,
 21800822,
 21800823,
 21800818,
 21800817,
 21800819,
 21800824,
 21800821,
 21800820,
 21800829,
 21800831,
 21800832,
 21800830,
 21800828,
 21800825,
 21800826,
 21800827,
 21800833,
 21800835,
 21800837,
 21800838,
 21800834,
 21800836,
 21800843,
 21800839,
 21800844,
 21800845,
 21800847,
 21800840,
 21800842,
 21800841,
 21800846,
 21800849,
 21800852,
 21800851,
 21800848,
 21800850,
 21800861,
 21800854,
 21800853,
 21800858,
 21800860,
 21800859,
 21800862,
 21800855,
 21800856,
 21800857,
 21800863,
 21800866,
 21800864,
 21800865,
 21800869,
 21800867,
 21800871,
 21800872,
 21800870,
 21800868,
 21800879,
 21800875,
 21800880,
 21800878,
 21800873,
 21800877,
 21800881,
 21800874,
 21800876,
 21800887,
 21800891,
 21800890,
 21800885,
 21800886,
 21800884,
 21800883,
 21800892,
 21800888,
 21800889,
 21800893,
 21800882,
 21800895,
 21800896,
 21800894,
 21800901,
 21800898,
 21800899,
 21800905,
 21800907,
 21800900,
 21800897,
 21800904,
 21800903,
 21800906,
 21800902,
 21800910,
 21800909,
 21800908,
 21800921,
 21800916,
 21800920,
 21800917,
 21800919,
 21800918,
 21800915,
 21800911,
 21800913,
 21800912,
 21800914,
 21800927,
 21800924,
 21800925,
 21800926,
 21800923,
 21800922,
 21800933,
 21800930,
 21800931,
 21800928,
 21800929,
 21800934,
 21800932,
 21800941,
 21800937,
 21800935,
 21800938,
 21800943,
 21800936,
 21800939,
 21800940,
 21800942,
 21800949,
 21800947,
 21800951,
 21800946,
 21800944,
 21800945,
 21800950,
 21800948,
 21800957,
 21800954,
 21800955,
 21800952,
 21800956,
 21800953,
 21800958,
 21800964,
 21800960,
 21800961,
 21800962,
 21800959,
 21800963,
 21800968,
 21800969,
 21800973,
 21800974,
 21800965,
 21800972,
 21800967,
 21800971,
 21800966,
 21800970,
 21800976,
 21800975,
 21800985,
 21800979,
 21800984,
 21800978,
 21800982,
 21800977,
 21800980,
 21800983,
 21800981,
 21800990,
 21800986,
 21800989,
 21800987,
 21800991,
 21800988,
 21800992,
 21800996,
 21800998,
 21800999,
 21801000,
 21800994,
 21800997,
 21800993,
 21800995,
 ...]

In [35]:
len(game_ids_filtrados)

6250

Voy a filtrar el df con los game_id filtrados por año

In [36]:
df_filtrado = df[df['game_id'].isin(game_ids_filtrados)]
df_filtrado

,game_id,team_id_home,team_abbreviation_home,team_city_home,pts_paint_home,pts_2nd_chance_home,pts_fb_home,largest_lead_home,lead_changes,times_tied,...,team_abbreviation_away,team_city_away,pts_paint_away,pts_2nd_chance_away,pts_fb_away,largest_lead_away,team_turnovers_away,total_turnovers_away,team_rebounds_away,pts_off_to_away
22795,21800001,1610612738,BOS,Boston,34,14,6,18,1,4,...,PHI,Philadelphia,50,5,16,4,0.0,16.0,10.0,14.0
22796,21800002,1610612744,GSW,Golden State,58,20,13,14,4,3,...,OKC,Oklahoma City,34,19,10,3,1.0,15.0,14.0,16.0
22797,21800010,1610612750,MIN,Minnesota,54,14,16,4,6,9,...,SAS,San Antonio,32,25,8,11,0.0,12.0,12.0,8.0
22798,21800013,1610612742,DAL,Dallas,54,13,10,2,1,1,...,PHX,Phoenix,36,5,16,21,1.0,12.0,4.0,13.0
22799,21800012,1610612743,DEN,Denver,42,15,12,11,9,6,...,LAC,LA,48,14,8,8,2.0,14.0,6.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28264,42200307,1610612748,MIA,Miami,38,16,17,23,1,0,...,BOS,Boston,42,13,8,5,0.0,15.0,4.0,19.0
28265,42200401,1610612748,MIA,Miami,38,8,4,1,4,2,...,DEN,Denver,46,7,9,24,0.0,10.0,7.0,9.0
28266,42200402,1610612743,DEN,Denver,50,15,18,15,4,3,...,MIA,Miami,34,11,5,12,0.0,11.0,4.0,23.0
28267,42200403,1610612748,MIA,Miami,34,7,11,5,7,7,...,DEN,Denver,60,14,11,21,1.0,14.0,7.0,17.0
28268,42200404,1610612743,DEN,Denver,48,6,12,17,3,6,...,MIA,Miami,46,9,14,3,1.0,15.0,9.0,17.0

In [38]:
duplicados_filtrados = df_filtrado[df_filtrado.duplicated(keep=False)]
print(duplicados_filtrados)

Empty DataFrame
Columns: [game_id, team_id_home, team_abbreviation_home, team_city_home, pts_paint_home, pts_2nd_chance_home, pts_fb_home, largest_lead_home, lead_changes, times_tied, team_turnovers_home, total_turnovers_home, team_rebounds_home, pts_off_to_home, team_id_away, team_abbreviation_away, team_city_away, pts_paint_away, pts_2nd_chance_away, pts_fb_away, largest_lead_away, team_turnovers_away, total_turnovers_away, team_rebounds_away, pts_off_to_away]
Index: []

[0 rows x 25 columns]

In [65]:
# Convertir las columnas a cadenas de texto
df_filtrado['team_city_home'] = df_filtrado['team_city_home'].astype(str)
df_filtrado['team_city_away'] = df_filtrado['team_city_away'].astype(str)
contiene_all_stars_home = df_filtrado['team_city_home'].str.contains('All Stars', case=False, na=False).any()
contiene_all_stars_away = df_filtrado['team_city_away'].str.contains('All Stars', case=False, na=False).any()
if contiene_all_stars_home or contiene_all_stars_away:
    print("La frase 'All Stars' está presente en al menos una fila de las columnas 'team_city_home' o 'team_city_away'.")
else:
    print("La frase 'All Stars' no está presente en ninguna fila de las columnas 'team_city_home' o 'team_city_away'.")

La frase 'All Stars' no está presente en ninguna fila de las columnas 'team_city_home' o 'team_city_away'.

/var/folders/x5/k5dfjx8x03j65qdgzd0k20wr0000gn/T/ipykernel_38005/1441251964.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado['team_city_home'] = df_filtrado['team_city_home'].astype(str)
/var/folders/x5/k5dfjx8x03j65qdgzd0k20wr0000gn/T/ipykernel_38005/1441251964.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado['team_city_away'] = df_filtrado['team_city_away'].astype(str)

In [66]:
filas_con_all_stars_home = df_filtrado[df_filtrado['team_city_home'].str.contains('All Stars', case=False, na=False)]
filas_con_all_stars_away = df_filtrado[df_filtrado['team_city_away'].str.contains('All Stars', case=False, na=False)]

In [67]:
filas_con_all_stars_home

Empty DataFrame
Columns: [game_id, team_id_home, team_abbreviation_home, team_city_home, pts_paint_home, pts_2nd_chance_home, pts_fb_home, largest_lead_home, lead_changes, times_tied, team_turnovers_home, total_turnovers_home, team_rebounds_home, pts_off_to_home, team_id_away, team_abbreviation_away, team_city_away, pts_paint_away, pts_2nd_chance_away, pts_fb_away, largest_lead_away, team_turnovers_away, total_turnovers_away, team_rebounds_away, pts_off_to_away]
Index: []

[0 rows x 25 columns]

Analisis de los puntos y eficiencia ofensiva

In [68]:
df_filtrado.groupby("team_abbreviation_home")[["pts_paint_home", "pts_2nd_chance_home", "pts_fb_home", "pts_off_to_home"]].mean().sort_values("pts_paint_home", ascending=False)

,pts_paint_home,pts_2nd_chance_home,pts_fb_home,pts_off_to_home
team_abbreviation_home,,,,
MEM,53.358696,14.820652,16.201087,16.668478
NOP,52.910995,14.586387,14.942408,17.879581
LAL,52.615385,13.508876,16.278107,17.360947
SAC,51.577640,12.583851,15.515528,17.055901
DEN,50.800000,13.609756,13.424390,16.146341
MIN,50.202532,14.658228,12.525316,16.664557
IND,50.021978,13.032967,15.038462,16.126374
WAS,49.833333,12.722222,12.183333,16.200000
CHA,49.518072,13.168675,13.722892,16.144578
OKC,49.483871,12.462366,11.801075,16.817204
ATL,49.348066,13.751381,12.099448,16.745856
CHI,49.256410,11.602564,13.410256,16.717949
CLE,49.246575,12.965753,10.890411,17.479452
SAS,47.782857,12.531429,12.680000,15.777143
TOR,47.696970,13.509091,16.333333,15.084848
HOU,47.680000,14.160000,12.485714,18.120000
UTA,47.649123,13.684211,10.947368,17.140351
MIL,47.627907,13.497674,14.972093,15.697674
BKN,47.500000,12.386905,13.410714,17.029762
DET,47.048276,13.855172,11.344828,16.248276
PHX,47.021978,12.890110,12.950549,16.412088
PHI,46.637838,12.345946,13.810811,16.621622
NYK,46.526946,14.455090,11.293413,15.604790
LAC,46.084656,12.539683,13.084656,16.391534
ORL,46.058824,12.870588,11.364706,15.911765
BOS,45.389163,12.581281,13.753695,15.290640
MIA,45.020833,11.708333,11.052083,16.786458
POR,44.732919,13.478261,12.074534,15.503106
DAL,44.067416,12.342697,11.196629,14.471910
GSW,44.029557,12.182266,14.630542,17.857143

In [40]:
df_filtrado.groupby("team_abbreviation_away")[["pts_paint_away", "pts_2nd_chance_away", "pts_fb_away", "pts_off_to_away"]].mean().sort_values("pts_paint_away", ascending=False)

,pts_paint_away,pts_2nd_chance_away,pts_fb_away,pts_off_to_away
team_abbreviation_away,,,,
MEM,55.355932,14.830508,16.723164,15.519774
NOP,52.297297,14.790541,14.743243,18.804054
LAL,51.492537,12.636816,16.368159,17.024876
DEN,50.663212,14.025907,13.103627,15.979275
SAC,49.797619,13.500000,13.970238,16.595238
SAS,49.584906,12.937107,12.295597,15.547170
IND,49.437500,13.143750,15.043750,17.018750
MIN,49.388889,12.833333,13.388889,16.977778
MIL,49.086957,13.054348,15.619565,15.521739
WAS,49.045161,12.567742,12.000000,17.206452
ATL,48.994220,13.410405,11.780347,17.398844
OKC,48.713287,12.951049,12.825175,16.566434
UTA,48.684783,14.347826,10.891304,17.146739
CLE,48.460674,12.983146,11.471910,17.634831
CHA,48.157576,13.490909,14.254545,16.339394
CHI,47.870588,11.647059,12.558824,16.470588
PHX,47.669903,12.383495,13.320388,16.237864
PHI,47.537634,12.801075,14.075269,16.473118
TOR,47.260417,13.916667,17.255208,15.526042
HOU,46.571429,12.994048,12.119048,18.982143
BKN,46.525714,13.062857,13.462857,17.062857
LAC,46.121547,12.734807,12.414365,16.878453
BOS,45.923913,13.152174,13.625000,15.554348
DET,45.602210,13.259669,10.392265,17.519337
POR,45.520000,13.820000,12.310000,16.390000
NYK,45.391304,14.369565,10.146739,16.005435
MIA,45.160622,12.772021,11.031088,16.331606
ORL,44.779070,13.052326,11.436047,16.517442
GSW,44.306748,13.012270,15.257669,17.509202
DAL,42.526882,11.983871,10.741935,14.758065

Analisis de rebotes y perdidas del balon

In [41]:
df_filtrado.groupby("team_abbreviation_home")[["team_rebounds_home", "total_turnovers_home"]].mean().sort_values("team_rebounds_home", ascending=False)

                        team_rebounds_home  total_turnovers_home
team_abbreviation_home
LAL                               8.786982             14.940828
HOU                               8.731429             14.885714
NYK                               8.670659             13.329341
MIA                               8.656250             14.260417
MIN                               8.651899             14.455696
DET                               8.634483             14.055172
NOP                               8.445026             14.633508
DAL                               8.393258             12.713483
MEM                               8.380435             14.222826
IND                               8.373626             14.038462
UTA                               8.233918             14.485380
ATL                               8.154696             14.000000
CHA                               8.126506             13.674699
WAS                               8.083333             13.616667
OKC                               8.021505             14.118280
MIL                               8.013953             13.962791
BKN                               8.011905             13.922619
TOR                               7.933333             12.842424
POR                               7.894410             13.571429
DEN                               7.892683             13.902439
PHI                               7.875676             14.140541
SAC                               7.850932             13.664596
ORL                               7.770588             13.670588
LAC                               7.719577             13.920635
CLE                               7.671233             14.452055
BOS                               7.433498             13.517241
GSW                               7.408867             14.995074
SAS                               7.394286             12.862857
PHX                               7.335165             13.983516
CHI                               7.294872             13.942308

In [42]:
df_filtrado.groupby("team_abbreviation_away")[["team_rebounds_away", "total_turnovers_away"]].mean().sort_values("team_rebounds_away", ascending=False)

                        team_rebounds_away  total_turnovers_away
team_abbreviation_away
HOU                               8.994048             15.279762
BKN                               8.777143             14.725714
NYK                               8.755435             13.516304
LAL                               8.716418             14.726368
DET                               8.602210             14.646409
MIN                               8.527778             14.394444
UTA                               8.500000             14.673913
OKC                               8.461538             14.013986
NOP                               8.432432             15.385135
MEM                               8.418079             13.344633
DAL                               8.360215             12.494624
SAC                               8.321429             13.761905
CHA                               8.151515             14.127273
CLE                               8.129213             14.707865
GSW                               8.116564             15.159509
ORL                               8.040698             13.784884
POR                               8.040000             13.155000
WAS                               8.038710             14.277419
DEN                               7.968912             13.373057
PHI                               7.935484             13.849462
TOR                               7.932292             13.302083
LAC                               7.906077             13.790055
IND                               7.887500             14.050000
MIA                               7.870466             14.000000
ATL                               7.849711             14.161850
BOS                               7.750000             13.684783
MIL                               7.728261             13.940217
SAS                               7.477987             12.591195
PHX                               7.228155             13.592233
CHI                               7.129412             14.305882

equipos por diferencia de perdidas y rebotes

In [43]:
df_filtrado.groupby("team_abbreviation_home")[["team_rebounds_home", "total_turnovers_home"]].mean().sort_values("team_rebounds_home", ascending=False)

                        team_rebounds_home  total_turnovers_home
team_abbreviation_home
LAL                               8.786982             14.940828
HOU                               8.731429             14.885714
NYK                               8.670659             13.329341
MIA                               8.656250             14.260417
MIN                               8.651899             14.455696
DET                               8.634483             14.055172
NOP                               8.445026             14.633508
DAL                               8.393258             12.713483
MEM                               8.380435             14.222826
IND                               8.373626             14.038462
UTA                               8.233918             14.485380
ATL                               8.154696             14.000000
CHA                               8.126506             13.674699
WAS                               8.083333             13.616667
OKC                               8.021505             14.118280
MIL                               8.013953             13.962791
BKN                               8.011905             13.922619
TOR                               7.933333             12.842424
POR                               7.894410             13.571429
DEN                               7.892683             13.902439
PHI                               7.875676             14.140541
SAC                               7.850932             13.664596
ORL                               7.770588             13.670588
LAC                               7.719577             13.920635
CLE                               7.671233             14.452055
BOS                               7.433498             13.517241
GSW                               7.408867             14.995074
SAS                               7.394286             12.862857
PHX                               7.335165             13.983516
CHI                               7.294872             13.942308

In [44]:
df_filtrado.groupby("team_abbreviation_away")[["team_rebounds_away", "total_turnovers_away"]].mean().sort_values("team_rebounds_away", ascending=False)

                        team_rebounds_away  total_turnovers_away
team_abbreviation_away
HOU                               8.994048             15.279762
BKN                               8.777143             14.725714
NYK                               8.755435             13.516304
LAL                               8.716418             14.726368
DET                               8.602210             14.646409
MIN                               8.527778             14.394444
UTA                               8.500000             14.673913
OKC                               8.461538             14.013986
NOP                               8.432432             15.385135
MEM                               8.418079             13.344633
DAL                               8.360215             12.494624
SAC                               8.321429             13.761905
CHA                               8.151515             14.127273
CLE                               8.129213             14.707865
GSW                               8.116564             15.159509
ORL                               8.040698             13.784884
POR                               8.040000             13.155000
WAS                               8.038710             14.277419
DEN                               7.968912             13.373057
PHI                               7.935484             13.849462
TOR                               7.932292             13.302083
LAC                               7.906077             13.790055
IND                               7.887500             14.050000
MIA                               7.870466             14.000000
ATL                               7.849711             14.161850
BOS                               7.750000             13.684783
MIL                               7.728261             13.940217
SAS                               7.477987             12.591195
PHX                               7.228155             13.592233
CHI                               7.129412             14.305882

Ventajas del juego

In [45]:
df_filtrado.groupby("team_abbreviation_home")["largest_lead_home"].mean().sort_values(ascending=False)

team_abbreviation_home
MIL    17.739535
BOS    16.743842
PHI    15.918919
UTA    15.345029
LAC    15.296296
DEN    15.048780
GSW    14.576355
DAL    14.005618
BKN    13.886905
TOR    13.781818
LAL    13.615385
MIA    13.598958
PHX    13.423077
MEM    13.250000
POR    12.683230
NOP    12.465969
SAC    12.310559
IND    12.159341
CHI    11.923077
NYK    11.796407
ATL    11.795580
HOU    11.622857
CHA    11.530120
ORL    11.088235
MIN    10.841772
SAS    10.817143
OKC    10.784946
CLE    10.643836
WAS    10.511111
DET     8.951724
Name: largest_lead_home, dtype: float64

In [46]:
df_filtrado.groupby("team_abbreviation_away")["largest_lead_away"].mean().sort_values(ascending=False)

team_abbreviation_away
MIL    16.913043
MEM    15.960452
UTA    15.277174
PHI    14.817204
TOR    14.619792
BOS    14.461957
DEN    13.870466
MIA    13.678756
GSW    13.441718
LAC    13.414365
DAL    13.290323
BKN    13.165714
PHX    13.029126
SAS    12.597484
MIN    12.383333
POR    11.915000
LAL    11.721393
HOU    11.708333
IND    11.681250
NOP    11.662162
NYK    11.266304
CHI    11.241176
ATL    11.184971
SAC    10.976190
CHA    10.830303
ORL    10.563953
CLE    10.325843
OKC     9.685315
WAS     9.651613
DET     9.071823
Name: largest_lead_away, dtype: float64

In [69]:
df_filtrado.to_csv('Datos/filtrado_other_stats.csv',index=False)