## Line Score

***Importar Librerias***

In [1]:
import pandas as pd
import numpy as np

***Importar Archivo***

In [2]:
#Importar Csv
df_line=pd.read_csv(r"../Data/line_score.csv",sep=",")

In [4]:
df_line.columns

Index(['game_date_est', 'game_sequence', 'game_id', 'team_id_home',
       'team_abbreviation_home', 'team_city_name_home', 'team_nickname_home',
       'team_wins_losses_home', 'pts_qtr1_home', 'pts_qtr2_home',
       'pts_qtr3_home', 'pts_qtr4_home', 'pts_ot1_home', 'pts_ot2_home',
       'pts_ot3_home', 'pts_ot4_home', 'pts_ot5_home', 'pts_ot6_home',
       'pts_ot7_home', 'pts_ot8_home', 'pts_ot9_home', 'pts_ot10_home',
       'pts_home', 'team_id_away', 'team_abbreviation_away',
       'team_city_name_away', 'team_nickname_away', 'team_wins_losses_away',
       'pts_qtr1_away', 'pts_qtr2_away', 'pts_qtr3_away', 'pts_qtr4_away',
       'pts_ot1_away', 'pts_ot2_away', 'pts_ot3_away', 'pts_ot4_away',
       'pts_ot5_away', 'pts_ot6_away', 'pts_ot7_away', 'pts_ot8_away',
       'pts_ot9_away', 'pts_ot10_away', 'pts_away'],
      dtype='object')

In [3]:
#Filtrar por fecha
df_line = df_line[(df_line["game_date_est"] > "2018-10-16") & (df_line["game_date_est"] < "2023-06-13")]

In [6]:
#Despues de checkear que columnas tienen solo "0", se eliminan as mismas.

df_line.drop(columns=["pts_ot5_home","pts_ot6_home","pts_ot7_home","pts_ot8_home","pts_ot9_home","pts_ot10_home","pts_ot5_away","pts_ot6_away","pts_ot7_away","pts_ot8_away","pts_ot9_away","pts_ot10_away","game_sequence","team_abbreviation_home","team_city_name_home","team_nickname_home","team_abbreviation_away","team_city_name_away","team_nickname_away","game_date_est","team_wins_losses_home","team_wins_losses_away"], inplace=True) #Pts overtime 5 en adelante del local

In [8]:
df_line = df_line.drop_duplicates(subset=['game_id'], keep='first')

In [10]:
df_line.dtypes

game_id            int64
team_id_home       int64
pts_qtr1_home    float64
pts_qtr2_home    float64
pts_qtr3_home    float64
pts_qtr4_home    float64
pts_ot1_home     float64
pts_ot2_home     float64
pts_ot3_home     float64
pts_ot4_home     float64
pts_home         float64
team_id_away       int64
pts_qtr1_away    float64
pts_qtr2_away    float64
pts_qtr3_away    float64
pts_qtr4_away    float64
pts_ot1_away     float64
pts_ot2_away     float64
pts_ot3_away     float64
pts_ot4_away     float64
pts_away         float64
dtype: object